header {
  border-bottom: 1px solid black;
  display: flex;
  padding: 25px;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
}

nav p {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-left: 20px;
}

.PageWrapper {
  margin: 0 auto;
  max-width: 1080px;
  padding: 25px;
}

.FormElement {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.FormElement input {
  font-size: 16px;
  margin-bottom: 30px;
  padding: 10px;
}

.FormElement label {
  font-weight: bold;
  margin-bottom: 8px;
}

.FormElement button {
  font-size: 16px;
  margin-top: 20px;
  padding: 10px;
}
