.listWrapper {
  margin: 0 auto;
  max-width: 1300px;
  padding: 25px;
}

h1 {
  font-size: 64px;
}

.articleCard {
  border: 1px solid black;
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
  padding: 20px;
}

.articleCard--image {
  background-color: grey;
  flex-basis: 40%;
}

.articleCard--image img {
  height: 100%;
  width: 100%;
}

.articleCard--text {
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  justify-content: space-between;
}

.articleCard--text h2 {
  font-size: 32px;
  margin-bottom: 20px;
  margin-block-start: 0;
}

.articleCard--text p {
  margin-block-end: 0;
}

.articleCard .link {
  justify-self: flex-end;
}
