.post {
  padding: 20px 50px;
  border-top: 1px solid black;
  width: 100%;
}

.post:first-child {
  border-top: none;
}

.post-title,
.post-content {
  padding-bottom: 20px;
}

.post-title,
.post-action,
.post-action-upvote,
.post-action-own {
  display: flex;
}

.post-action-upvote {
  margin-right: 20px;
}

.post-action-upvote,
.post-action-own {
  align-items: center;
}

.post-action {
  justify-content: flex-end;
}

.post-title-author,
.post-title-date,
.post-title-owner {
  font-weight: bold;
  margin-right: 20px;
}

.post-title-date {
  color: grey;
}

.post-content {
  display: flex;
}
